.pokedex{
    background-image:  linear-gradient(to bottom right, #19302E, #7FA644);
    height: 100%;
    margin-left: 30%;
    margin-right: 30%;
}

.pokedex .pokedex-info .divider{
    background-color: #19302E ;
}